# Maven / Java
target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.class
*.jar
*.war
*.iml

# Eclipse / IntelliJ
.project
.classpath
.settings/
.idea/
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Docker
**/.env
**/data/
